.membersOfBuilding {
    margin: auto;
    margin-top: 1rem;
    width: 95%;
    padding: 0.5rem;
    padding-top: 0.75rem;
    background-color: #f4f6fb;
    box-shadow: 0 0 4px 0 #404F66 inset;
    h1 {
        padding-left: 0.2rem;
        font-size: 1.1rem;
        margin-bottom: 0.6rem;
    }
    .members {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        .member {
            background-color: #f5f6f8;
            box-shadow: 0 0 4px 0 #404F66;
            padding: 0.5rem;
            font-size: 0.9rem;
            cursor: pointer;
            z-index: 3;
            &:hover {
                background-color: #e5e5ec;
                box-shadow: 0 0 6px 0 #404F66;
            }
        }
    }
}