.myBuildings {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
    .oneMyBuildings {
        font-weight: bold;
        color: #2e3a4b;
        background-color: transparent;
        border: 3px solid #404F66;
        padding: 0.5rem;
        cursor: pointer;
        box-shadow: 1px 1px 2px 0 #404F66;
        &:hover {
            background-color: #404F66;
            color: white;
        }
    }
}