@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body, #root {
    width: 100%;
    height: fit-content;
    font-size: 16px;
}

@import 'signIn';
@import 'header';
@import 'start';
@import 'tokenExpired';
@import 'sidenav';
@import 'myBuildings';
@import 'oneBuilding';
@import 'createBuildingV1';
@import 'tasksForBuilding';
@import 'membersOfBuilding';
@import 'createTaskForBuilding';
@import 'myTasks';
@import 'oneTask';
@import 'myAccount';
@import 'admin';

.content {
    position: relative;
    display: flex;
    width: 100%;
    // min-height: calc(100vh - $headerHeight);
    min-height: 100vh;
    padding-top: $headerHeight;
    &.right {
        width: calc(100% - 14rem);
        margin-left: 14rem;
    }
}

.darkOverlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.pageCover {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}

.loadingSpinner {
    z-index: 4;
    position: absolute;
    left: 50%;
    top: 50%;
    fill: #404F66;
    animation: spin 0.9s linear infinite;
}

@keyframes spin{
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}
