.tasksForBuilding {
    width: 95%;
    max-width: 35rem;
    .aboveTable {
        min-width: 20rem;
        box-shadow: 0 0 10px #b9c1cf;
        background-color: #5a6d8a;
        padding: 0.6rem 0.7rem;
        color: white;
        p {
            font-size: 0.7rem;
            margin-bottom: 0.1rem;
        }
        h1 {
            text-align: center;
            font-size: 1.4rem;
        }
    }
    margin: auto;
    margin-top: 1rem;
    table {
        width: 100%;
        border-collapse: collapse;
        box-shadow: 0 5px 10px #b9c1cf;
        background-color: white;
        overflow: hidden;
        thead {
            box-shadow: 0 5px 10px #b9c1cf;
        }
        th {
            padding: 0.9rem 0.6rem;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-size: 0.65rem;
            font-weight: 900;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
            user-select: none;
            &:hover {
                background-color: rgb(245, 245, 245);
            }
        }
        td {
            padding: 0.9rem 0.8rem;
            font-size: 0.75rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        tr {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            * {
                flex: 1;
            }
        }
        tr:nth-child(even) {
            background-color: #f4f6fb;
        }
        .status {
            display: flex;
            border-radius: 5px;
            padding: 0.4rem 0.8rem;
            justify-content: center;
            text-align: center;
            font-weight: 600;
            font-size: 0.7rem;
            &.A_idle {
                background-color: $clr-idle;
                color: $clr-idle-font;
            }
            &.B_assigned {
                background-color: $clr-assigned;
                color: $clr-assigned-font;
            }
            &.C_inProgress {
                background-color: $clr-inProgress;
                color: $clr-inProgress-font;
            }
            &.D_completed {
                background-color: $clr-completed;
                color: $clr-completed-font;
            }
        }
    }
}