$headerHeight: 6vh;

$clr-idle: #e1e3e6;
$clr-idle-font: #87898d;
$clr-assigned: #b8b7e2;
$clr-assigned-font: #2a2f79;
$clr-inProgress: #f7e7b7;
$clr-inProgress-font: #858307;
$clr-completed: #b7e2b8;
$clr-completed-font: #2a794d;